<div class="container" id="contact-cont">

	<div class="contact-link">
		<h2>Contacter moi</h2>
		</br>
		</br>
		</br>
		</br>
		</br>


	<div class="contact-row">
			<%= link_to image_tag('socialf.png'), 'https://www.facebook.com/'%>
			<%= link_to image_tag('social (3).png'), 'https://twitter.com/'%>
			<%= link_to image_tag('social (4).png'), 'https://www.linkedin.com/in/saly-moubarak-6b7b77b5?authType=NAME_SEARCH&authToken=Qt45&locale=fr_FR&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A411975211%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1459620640213%2Ctas%3Asa' %>
			<%= link_to image_tag('social (7).png'), 'https://github.com/B7Happy'%>
			<%= link_to image_tag('social (6).png'), 'https://www.instagram.com/'%>

		</div>
	</div>

</div>
