<div class="container" id="cont-port"></div>

<div class="port">
	<div class="images">
		<div class="img-row">

			<div class="img-port">
				<%= image_tag 'pfc.png' %>
				<h3>Pierre Feuille Ciseaux  </h3>
				<p>Voici un jeux que vouz connaisez. Joue contre un ordinateur . </p>
			</div>


			<div class="img-port">
				<%= image_tag 'jslist.png' %>
				<h3>Liste</h3>
				<p>Recherche votre contact a l'aide de cette list.  </p>
			</div>
    </div>


  </div>
	<div class="images">
		<div class="img-row">

			<div class="img-port">
				<%= image_tag 'd3.png' %>
				<h3>Un graph </h3>
				<p>C'est un graph realise avec D3. D3 est une bibliothèque JavaScript pour visualiser les données avec HTML , SVG et CSS</p>
			</div>

			<div class="img-port">
				<%= image_tag 'leek.png' %>
				<%= link_to '<h3>Leek Wars</h3>'.html_safe, 'http://leekwars.com/leek/44200' %>
				<p>LeekScript est le langage de programmation dedié à la création d'intelligences artificielles pour poireau.</p>
			</div>





  </div>
  </div>
