<div class="container" id="cont-port"></div>

<div class="port">
	<div class="images">
		<div class="img-row">

			<div class="img-port">
				<%= image_tag 'ruby2.png' %>
				<h3>Un formulaire   </h3>
				<p>C'est un formulaire realise sous ruby .</p>
			</div>


			<div class="img-port">
				<%= image_tag 'ruby.png' %>
				<h3>BHappy    </h3>
				<p>Une Application de voyage realise sous ruby on rails avec une base de donne.</p>

			</div>
    </div>

		<div class="img-row">
		<div class="img-port">
			<%= image_tag 'heroku.png' %>
			<h3>Heroku  </h3>
			<p>Heroku est une plate-forme en tant que service ( PaaS) qui permet aux développeurs de créer et exécuter des applications entièrement dans le nuage .</p>
		</div>

		<div class="img-port">
			<%= image_tag 'heroku.png' %>
			<h3>Git &<%= link_to 'GitHub'.html_safe, 'https://github.com/B7Happy' %>	</h3>
			<p>Git est un logiciel de gestion de versions décentralisé.</p>
			<p>GitHub est un service web d'hébergement et de gestion de développement de logiciels, utilisant le logiciel de gestion de versions Git</p>
		</div>

	</div>
	</div>

	<div class="img-row">
	<div class="img-port">
		<%= image_tag '11.svg' %>
		<h3> 1 & 1  </h3>
		<p>1&1 est le plus gros hébergeur en Europe. C'est la que j'ai achete mon nom de domaine.</p>
	</div>


</div>

  </div>
